html,
body,
#root,
.main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: var(--vertical-padding) var(--horizontal-padding);
}

body {
  --font-size: 12px;
  --vertical-margin: 6px;
  --horizontal-margin: 6px;
  --vertical-padding: 6px;
  --horizontal-padding: 6px;

  font-family: Arial, Helvetica;
  font-size: var(--font-size);
}

.main {
  background: var(--color-1);
  color: var(--text-color);
  width: 100%;
  height: 100%;

  transition: background 500ms, color 500ms;
}

.palleteDark {
  --color-1: #1b2430;
  --color-2: #51557e;
  --color-3: #816797;
  --color-4: #d6d5a8;
  --text-color: #eee;
}

.palleteBright {
  --color-1: #cdf0ea;
  --color-2: #f9f9f9;
  --color-3: #ecc5fb;
  --color-4: #faf4b7;
  --text-color: #222;
}

.togglePalleteBtn {
  position: fixed;
  right: 0;
  border: 1px solid var(--color-2);
  background-color: var(--color-4);
}

input {
  background-color: var(--color-3);
  color: var(--text-color);
  border: 1px inset var(--color-4);
}

button {
  background-color: var(--color-3);
  color: var(--text-color);
  border: 1px outset var(--color-4);
}
button:hover {
  background-color: var(--color-4);
}

a,
a:visited {
  color: var(--text-color);
}
